<?php

declare(strict_types=1);

/*
 * FortisApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace FortisApiLib\Controllers;

use Core\Authentication\Auth;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use FortisApiLib\Exceptions\Response401TokenException;
use FortisApiLib\Http\ApiResponse;
use FortisApiLib\Models\ResponseAsyncStatus;

class AsyncProcessingController extends BaseController
{
    /**
     * Retrieve the current status for a particular code.
     *
     * @param string $statusCode A [UUID v4](https://datatracker.ietf.org/doc/html/rfc4122) that's
     *        unique for the Async Request
     *
     * @return ApiResponse Response from the API call
     */
    public function statusCheck(string $statusCode): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/async/status/{status_code}')
            ->auth(Auth::and('user-id', 'user-api-key', 'developer-id'))
            ->parameters(TemplateParam::init('status_code', $statusCode)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401TokenException::class))
            ->type(ResponseAsyncStatus::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
