<?php

declare(strict_types=1);

/*
 * FortisApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace FortisApiLib\Controllers;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use FortisApiLib\Exceptions\Response401TokenException;
use FortisApiLib\Exceptions\Response412Exception;
use FortisApiLib\Http\ApiResponse;
use FortisApiLib\Models\ResponseTicketIntention;
use FortisApiLib\Models\ResponseTransactionIntention;
use FortisApiLib\Models\V1ElementsTicketIntentionRequest;
use FortisApiLib\Models\V1ElementsTransactionIntentionRequest;

class ElementsController extends BaseController
{
    /**
     * Elements uses a `TicketIntention` object to represent your intent to obtain credit card information
     * from a customer with the intent to tokenize the card or charge the card. Ticket Intention is great
     * with online store checkouts.
     *
     * @param V1ElementsTicketIntentionRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function ticketIntention(V1ElementsTicketIntentionRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/elements/ticket/intention')
            ->auth(Auth::and('user-id', 'user-api-key', 'developer-id'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401TokenException::class))
            ->throwErrorOn('412', ErrorType::init('Precondition Failed', Response412Exception::class))
            ->type(ResponseTicketIntention::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Elements uses a `TransactionIntention` object to represent your intent to collect payment from a
     * customer, tracking charge attempts and payment state changes throughout the process.
     *
     * @param V1ElementsTransactionIntentionRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function transactionIntention(V1ElementsTransactionIntentionRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/elements/transaction/intention')
            ->auth(Auth::and('user-id', 'user-api-key', 'developer-id'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401TokenException::class))
            ->throwErrorOn('412', ErrorType::init('Precondition Failed', Response412Exception::class))
            ->type(ResponseTransactionIntention::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
