<?php

declare(strict_types=1);

/*
 * FortisApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace FortisApiLib\Controllers;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use FortisApiLib\Exceptions\Response401TokenException;
use FortisApiLib\Exceptions\Response412Exception;
use FortisApiLib\Http\ApiResponse;
use FortisApiLib\Models\ResponseTransactionLevel3;
use FortisApiLib\Models\ResponseTransactionLevel3Master;
use FortisApiLib\Models\ResponseTransactionLevel3Visa;
use FortisApiLib\Models\V1TransactionsLevel3MasterCardRequest;
use FortisApiLib\Models\V1TransactionsLevel3VisaRequest;

class Level3DataController extends BaseController
{
    /**
     * @param string $transactionId Transaction ID
     * @param V1TransactionsLevel3MasterCardRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function createanewLevel3EntryforaMasterCard(
        string $transactionId,
        V1TransactionsLevel3MasterCardRequest $body
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/v1/transactions/{transaction_id}/level3/master-card'
        )
            ->auth(Auth::and('user-id', 'user-api-key', 'developer-id'))
            ->parameters(
                TemplateParam::init('transaction_id', $transactionId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401TokenException::class))
            ->throwErrorOn('412', ErrorType::init('Precondition Failed', Response412Exception::class))
            ->type(ResponseTransactionLevel3Master::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $transactionId Transaction ID
     * @param V1TransactionsLevel3VisaRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function createanewLevel3EntryforaVisa(
        string $transactionId,
        V1TransactionsLevel3VisaRequest $body
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/transactions/{transaction_id}/level3/visa')
            ->auth(Auth::and('user-id', 'user-api-key', 'developer-id'))
            ->parameters(
                TemplateParam::init('transaction_id', $transactionId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401TokenException::class))
            ->throwErrorOn('412', ErrorType::init('Precondition Failed', Response412Exception::class))
            ->type(ResponseTransactionLevel3Visa::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $transactionId Transaction ID
     * @param string $level3Id Level 3 ID
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteasinglelevel3Record(string $transactionId, string $level3Id): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/v1/transactions/{transaction_id}/level3/{level3_id}'
        )
            ->auth(Auth::and('user-id', 'user-api-key', 'developer-id'))
            ->parameters(
                TemplateParam::init('transaction_id', $transactionId)->required(),
                TemplateParam::init('level3_id', $level3Id)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401TokenException::class))
            ->type(ResponseTransactionLevel3::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $transactionId Transaction ID
     * @param string $level3Id Level 3 ID
     *
     * @return ApiResponse Response from the API call
     */
    public function viewsinglelevel3Record(string $transactionId, string $level3Id): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/transactions/{transaction_id}/level3/{level3_id}'
        )
            ->auth(Auth::and('user-id', 'user-api-key', 'developer-id'))
            ->parameters(
                TemplateParam::init('transaction_id', $transactionId)->required(),
                TemplateParam::init('level3_id', $level3Id)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401TokenException::class))
            ->type(ResponseTransactionLevel3::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
