<?php

declare(strict_types=1);

/*
 * FortisApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace FortisApiLib\Controllers;

use Core\Authentication\Auth;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use FortisApiLib\Exceptions\Response401TokenException;
use FortisApiLib\Http\ApiResponse;
use FortisApiLib\Models\ResponseThreeDsTransaction;

class M3DsTransactionsController extends BaseController
{
    /**
     * For getting results of successful 3DS authentication attempts
     *
     * @param string $threeDsServerTransId Universally unique transaction identifier assigned by the
     *        3DS Server to identify a single transaction.
     * @param string $productTransactionId Product Transaction ID associated with this 3DS request
     *
     * @return ApiResponse Response from the API call
     */
    public function m3DsTransactionsRequest(string $threeDsServerTransId, string $productTransactionId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/v1/merchant/threedsecure/transactions/{three_ds_server_trans_id}'
        )
            ->auth(Auth::and('user-id', 'user-api-key', 'developer-id'))
            ->parameters(
                TemplateParam::init('three_ds_server_trans_id', $threeDsServerTransId)->required(),
                QueryParam::init('product_transaction_id', $productTransactionId)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401TokenException::class))
            ->type(ResponseThreeDsTransaction::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
