<?php

declare(strict_types=1);

/*
 * FortisApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace FortisApiLib\Controllers;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use FortisApiLib\Exceptions\Response401TokenException;
use FortisApiLib\Exceptions\Response412Exception;
use FortisApiLib\Exceptions\V1MerchantThreedsecureAuthentication400ErrorException;
use FortisApiLib\Http\ApiResponse;
use FortisApiLib\Models\ResponseThreeDsAuthentication;
use FortisApiLib\Models\V1MerchantThreedsecureAuthenticationRequest;

class M3DsAuthenticationController extends BaseController
{
    /**
     * Makes a 3DS Authentication request to authenticate a card or begin the challenge flow.  If a
     * challenge is required, a POST should be made to acs_url using the value of
     * base64_encoded_challenge_request for the value of "creq" using x-www-form-urlencoded for the
     * challenge request to the ACS.
     *
     * @param V1MerchantThreedsecureAuthenticationRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function m3DsAuthenticationRequest(V1MerchantThreedsecureAuthenticationRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/merchant/threedsecure/authentication')
            ->auth(Auth::and('user-id', 'user-api-key', 'developer-id'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Bad Request', V1MerchantThreedsecureAuthentication400ErrorException::class)
            )
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401TokenException::class))
            ->throwErrorOn('412', ErrorType::init('Precondition Failed', Response412Exception::class))
            ->type(ResponseThreeDsAuthentication::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
