<?php

declare(strict_types=1);

/*
 * FortisApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace FortisApiLib\Controllers;

use Core\Authentication\Auth;
use Core\Request\Parameters\QueryParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use FortisApiLib\Exceptions\Response401TokenException;
use FortisApiLib\Http\ApiResponse;
use FortisApiLib\Models\ResponsePaymentCardReaderToken;

class PaymentCardReaderTokenController extends BaseController
{
    /**
     * For initializing iPhone card readers for Apple Tap to Pay transactions
     *
     * @param string $productTransactionId Product Transaction ID to be used to initialize the card
     *        reader
     *
     * @return ApiResponse Response from the API call
     */
    public function paymentCardReaderTokenRequest(string $productTransactionId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/payment-card-reader-token')
            ->auth(Auth::and('user-id', 'user-api-key', 'developer-id'))
            ->parameters(QueryParam::init('product_transaction_id', $productTransactionId)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized', Response401TokenException::class))
            ->type(ResponsePaymentCardReaderToken::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
